version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: course_postgres
    environment:
      POSTGRES_DB: ${DATABASE_NAME:-coursedb}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME:-coursedb}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: course_app
    ports:
      - "9989:9989"
    env_file:
      - .env
    environment:
      DATABASE_URL: jdbc:postgresql://postgres:5432/${DATABASE_NAME:-coursedb}
    depends_on:
      postgres:
        condition: service_healthy
    restart: always


  minio:
    image: minio/minio
    container_name: course_minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  postgres_data:
    driver: local
  minio_data:
    driver: local